* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box {
  width: 200px;
  height: 200px;
  background-color: red;

  /* transform: translateX(100px); */
  /* transform: translateY(100px); */
  /* transform: translate(100px, 50px); */

  /* transform: translateX(400px) scale(4, 4); */
  /* transform: translateX(400px) rotate(20deg); */
  /* transform: skew(20px); */
  /* transform: translate(10px, 10px);
  translate: 10px 10px; */
}
